# Predicting outputs and sending the data to MySQL

In [13]:
import pickle
import numpy as np
import pandas as pd
from sklearn import metrics
import pymysql

## Making predictions

In [2]:
model = pickle.load(open('model', 'rb'))

In [3]:
model

RandomForestClassifier(max_depth=8, max_features=15, min_samples_leaf=30,
                       min_samples_split=48, n_estimators=410, n_jobs=-1,
                       random_state=20)

In [10]:
test = pd.read_csv('Test_Data.csv')
test

,Reason1,Reason2,Reason3,Reason4,Month,Day,Transportation_Expense,Distance,Age,Workload,Hit_Target,Disciplinary_Failure,Education,Son,Social_Drinker,Social_Smoker,Pet,BMI
0,0,0,0,1,5,4,291,31,40,237656,99,0,0,1,1,0,1,25
1,1,0,0,0,6,6,246,25,41,377550,94,0,0,0,1,0,0,23
2,1,0,0,0,2,4,233,51,31,264249,97,0,1,1,1,0,8,21
3,0,0,0,1,1,4,179,51,38,313532,96,0,0,0,1,0,0,31
4,0,0,0,1,6,2,179,51,38,253957,95,0,0,0,1,0,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,0,0,0,1,1,3,225,26,28,308593,95,0,0,1,0,0,2,24
144,0,0,0,1,12,5,235,11,37,236629,93,0,1,1,0,0,1,29
145,0,0,0,1,4,2,179,51,38,239409,98,0,0,0,1,0,0,31
146,0,0,0,1,7,3,289,36,33,239554,97,0,0,2,1,0,1,30
147,0,0,1,0,6,5,118,13,50,275089,96,0,0,1,1,0,0,31

In [11]:
pred = model.predict(test)
prob = model.predict_proba(test)[:, 1]

In [12]:
test['Prediction'] = pred
test['Probability'] = prob
test

,Reason1,Reason2,Reason3,Reason4,Month,Day,Transportation_Expense,Distance,Age,Workload,Hit_Target,Disciplinary_Failure,Education,Son,Social_Drinker,Social_Smoker,Pet,BMI,Prediction,Probability
0,0,0,0,1,5,4,291,31,40,237656,99,0,0,1,1,0,1,25,0,0.406268
1,1,0,0,0,6,6,246,25,41,377550,94,0,0,0,1,0,0,23,1,0.791293
2,1,0,0,0,2,4,233,51,31,264249,97,0,1,1,1,0,8,21,1,0.757568
3,0,0,0,1,1,4,179,51,38,313532,96,0,0,0,1,0,0,31,0,0.083849
4,0,0,0,1,6,2,179,51,38,253957,95,0,0,0,1,0,0,31,0,0.332363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,0,0,0,1,1,3,225,26,28,308593,95,0,0,1,0,0,2,24,0,0.106842
144,0,0,0,1,12,5,235,11,37,236629,93,0,1,1,0,0,1,29,0,0.457500
145,0,0,0,1,4,2,179,51,38,239409,98,0,0,0,1,0,0,31,0,0.298192
146,0,0,0,1,7,3,289,36,33,239554,97,0,0,2,1,0,1,30,1,0.669238
147,0,0,1,0,6,5,118,13,50,275089,96,0,0,1,1,0,0,31,1,0.592862

### Connecting MySQL

In [14]:
conn = pymysql.connect(database = 'absenteeism_outputs', user = 'root', password = 'St14@496')

In [15]:
cursor = conn.cursor()

In [18]:
query = 'select * from predicted_outputs;'

In [19]:
cursor.execute(query)

0

#### Creating the insert statement

In [71]:
insert = 'insert into predicted_outputs values '
for i in range(test.shape[0]):
    #print(insert)
    insert += '('
    #print(insert)
    for j in range(test.shape[1]):
        #print(str(test.iloc[i, j]) + ', ')
        insert += str(test.iloc[i, j]) + ', '
        #print(insert)
    #print(insert)
    insert = insert[:-2] + ');'
    print(insert)
    cursor.execute(insert)
    conn.commit()
    insert = 'insert into predicted_outputs values '

insert into predicted_outputs values (0, 0, 0, 1, 5, 4, 291, 31, 40, 237656, 99, 0, 0, 1, 1, 0, 1, 25, 0, 0.40626845360914043);
insert into predicted_outputs values (1, 0, 0, 0, 6, 6, 246, 25, 41, 377550, 94, 0, 0, 0, 1, 0, 0, 23, 1, 0.7912934954871534);
insert into predicted_outputs values (1, 0, 0, 0, 2, 4, 233, 51, 31, 264249, 97, 0, 1, 1, 1, 0, 8, 21, 1, 0.7575681108022727);
insert into predicted_outputs values (0, 0, 0, 1, 1, 4, 179, 51, 38, 313532, 96, 0, 0, 0, 1, 0, 0, 31, 0, 0.08384876803219007);
insert into predicted_outputs values (0, 0, 0, 1, 6, 2, 179, 51, 38, 253957, 95, 0, 0, 0, 1, 0, 0, 31, 0, 0.3323628204685655);
insert into predicted_outputs values (0, 0, 0, 1, 2, 3, 179, 26, 30, 302585, 99, 0, 1, 0, 0, 0, 0, 19, 0, 0.1564996014587587);
insert into predicted_outputs values (0, 0, 0, 1, 11, 4, 225, 26, 28, 306345, 93, 0, 0, 1, 0, 0, 2, 24, 0, 0.21712024846700018);
insert into predicted_outputs values (0, 0, 0, 1, 10, 3, 179, 51, 38, 253465, 93, 0, 0, 0, 1, 0, 0, 31, 0, 0.25027858873318987);
insert into predicted_outputs values (0, 0, 0, 1, 8, 3, 179, 22, 40, 249797, 93, 0, 1, 2, 0, 1, 0, 22, 0, 0.394826663534502);
insert into predicted_outputs values (0, 0, 0, 1, 10, 2, 369, 17, 31, 265017, 88, 0, 0, 3, 1, 0, 0, 25, 1, 0.5827858359366132);
insert into predicted_outputs values (0, 0, 0, 1, 8, 6, 260, 50, 36, 265615, 94, 0, 0, 4, 1, 0, 0, 23, 1, 0.6180685885201117);
insert into predicted_outputs values (1, 0, 0, 0, 5, 2, 361, 52, 28, 237656, 99, 0, 0, 1, 1, 0, 4, 27, 1, 0.81465373907804);
insert into predicted_outputs values (0, 0, 0, 1, 6, 2, 118, 10, 37, 275089, 96, 0, 0, 0, 0, 0, 0, 28, 0, 0.34676795936811095);
insert into predicted_outputs values (1, 0, 0, 0, 10, 5, 289, 48, 49, 284853, 91, 0, 0, 0, 0, 0, 2, 36, 1, 0.6453447521076713);
insert into predicted_outputs values (1, 0, 0, 0, 11, 4, 260, 50, 36, 284031, 97, 0, 0, 4, 1, 0, 0, 23, 1, 0.8279156887632801);
insert into predicted_outputs values (0, 0, 1, 0, 9, 4, 225, 26, 28, 241476, 92, 0, 0, 1, 0, 0, 2, 24, 1, 0.5502060977263522);
insert into predicted_outputs values (0, 0, 0, 1, 8, 4, 248, 25, 47, 205917, 92, 0, 0, 2, 0, 0, 1, 32, 0, 0.4136640991234411);
insert into predicted_outputs values (0, 0, 0, 1, 11, 5, 235, 11, 37, 284031, 97, 0, 1, 1, 0, 0, 1, 29, 0, 0.42161522544447366);
insert into predicted_outputs values (0, 0, 0, 1, 8, 5, 235, 11, 37, 205917, 92, 0, 1, 1, 0, 0, 1, 29, 1, 0.5316264450242298);
insert into predicted_outputs values (0, 0, 0, 1, 12, 5, 225, 26, 28, 280549, 98, 0, 0, 1, 0, 0, 2, 24, 0, 0.20494716350718237);
insert into predicted_outputs values (0, 0, 0, 1, 3, 4, 369, 17, 31, 222196, 99, 0, 0, 3, 1, 0, 0, 25, 1, 0.5870349406837496);
insert into predicted_outputs values (0, 0, 0, 0, 11, 4, 289, 36, 33, 268519, 93, 1, 0, 2, 1, 0, 1, 30, 1, 0.6827553851287418);
insert into predicted_outputs values (1, 0, 0, 0, 10, 4, 228, 14, 58, 284853, 91, 0, 0, 2, 0, 0, 1, 22, 1, 0.6149271657587299);
insert into predicted_outputs values (1, 0, 0, 0, 11, 5, 118, 10, 37, 268519, 93, 0, 0, 0, 0, 0, 0, 28, 1, 0.5569706711946368);
insert into predicted_outputs values (0, 0, 1, 0, 4, 2, 225, 26, 28, 246288, 91, 0, 0, 1, 0, 0, 2, 24, 1, 0.5641594485623566);
insert into predicted_outputs values (0, 0, 0, 1, 9, 6, 260, 50, 36, 294217, 81, 0, 0, 4, 1, 0, 0, 23, 1, 0.6059597022108095);
insert into predicted_outputs values (0, 0, 0, 1, 5, 5, 235, 16, 32, 237656, 99, 0, 1, 0, 0, 0, 0, 25, 0, 0.4522539525663041);
insert into predicted_outputs values (0, 0, 0, 1, 11, 5, 291, 31, 40, 306345, 93, 0, 0, 1, 1, 0, 1, 25, 0, 0.3711778946387525);
insert into predicted_outputs values (1, 0, 0, 0, 9, 4, 246, 25, 41, 294217, 81, 0, 0, 0, 1, 0, 0, 23, 1, 0.7818817488229844);
insert into predicted_outputs values (0, 0, 0, 1, 10, 4, 179, 51, 38, 284853, 91, 0, 0, 0, 1, 0, 0, 31, 0, 0.23234208475327006);
insert into predicted_outputs values (0, 0, 0, 1, 11, 3, 361, 52, 28, 268519, 93, 0, 0, 1, 1, 0, 4, 27, 1, 0.5276033804319237);
insert into predicted_outputs values (1, 0, 0, 0, 7, 4, 179, 51, 38, 239554, 97, 0, 0, 0, 1, 0, 0, 31, 1, 0.719962042053895);
insert into predicted_outputs values (0, 0, 0, 1, 11, 6, 225, 26, 28, 268519, 93, 0, 0, 1, 0, 0, 2, 24, 0, 0.22683465550326853);
insert into predicted_outputs values (0, 0, 0, 1, 3, 6, 260, 50, 36, 343253, 95, 0, 0, 4, 1, 0, 0, 23, 1, 0.5965062197067279);
insert into predicted_outputs values (1, 0, 0, 0, 4, 5, 289, 36, 33, 326452, 96, 0, 0, 2, 1, 0, 1, 30, 1, 0.8426023193337137);
insert into predicted_outputs values (0, 0, 1, 0, 5, 3, 225, 26, 28, 378884, 92, 0, 0, 1, 0, 0, 2, 24, 1, 0.5656601337710168);
insert into predicted_outputs values (0, 0, 0, 1, 11, 4, 289, 36, 33, 268519, 93, 0, 0, 2, 1, 0, 1, 30, 1, 0.6553120081684594);
insert into predicted_outputs values (1, 0, 0, 0, 6, 2, 179, 51, 38, 377550, 94, 0, 0, 0, 1, 0, 0, 31, 1, 0.7434357816172483);
insert into predicted_outputs values (1, 0, 0, 0, 6, 4, 118, 10, 37, 275089, 96, 0, 0, 0, 0, 0, 0, 28, 1, 0.5566262161071037);
insert into predicted_outputs values (0, 0, 0, 1, 7, 2, 235, 29, 48, 230290, 92, 0, 0, 1, 0, 1, 5, 33, 0, 0.41588400484593097);
insert into predicted_outputs values (0, 0, 0, 1, 5, 4, 225, 26, 28, 246074, 99, 0, 0, 1, 0, 0, 2, 24, 0, 0.2653311311381322);
insert into predicted_outputs values (0, 0, 1, 0, 6, 4, 179, 26, 30, 253957, 95, 0, 1, 0, 0, 0, 0, 19, 1, 0.5589110993377504);
insert into predicted_outputs values (1, 0, 0, 0, 8, 5, 268, 11, 33, 265615, 94, 0, 1, 0, 0, 0, 0, 25, 1, 0.6399837797549424);
insert into predicted_outputs values (1, 0, 0, 0, 2, 5, 179, 51, 38, 251818, 96, 0, 0, 0, 1, 0, 0, 31, 1, 0.7114542339334908);
insert into predicted_outputs values (1, 0, 0, 0, 2, 4, 179, 51, 38, 302585, 99, 0, 0, 0, 1, 0, 0, 31, 1, 0.7437880699980818);
insert into predicted_outputs values (0, 0, 0, 1, 2, 4, 179, 51, 38, 251818, 96, 0, 0, 0, 1, 0, 0, 31, 0, 0.09936717460957228);
insert into predicted_outputs values (1, 0, 0, 0, 7, 2, 260, 50, 36, 239554, 97, 0, 0, 4, 1, 0, 0, 23, 1, 0.8330942047270217);
insert into predicted_outputs values (0, 0, 0, 1, 3, 4, 179, 51, 38, 222196, 99, 0, 0, 0, 1, 0, 0, 31, 0, 0.19814020445263728);
insert into predicted_outputs values (0, 0, 0, 1, 12, 4, 291, 31, 40, 280549, 98, 0, 0, 1, 1, 0, 1, 25, 0, 0.3741525046752747);
insert into predicted_outputs values (1, 0, 0, 0, 10, 6, 225, 26, 28, 284853, 91, 0, 0, 1, 0, 0, 2, 24, 1, 0.5519127349594598);
insert into predicted_outputs values (0, 0, 1, 0, 7, 3, 155, 12, 34, 275312, 98, 0, 0, 2, 1, 0, 0, 25, 1, 0.6844700127806164);
insert into predicted_outputs values (0, 0, 0, 1, 9, 5, 118, 13, 50, 294217, 81, 0, 0, 1, 1, 0, 0, 31, 0, 0.25772915368888155);
insert into predicted_outputs values (0, 0, 0, 1, 9, 6, 248, 25, 47, 241476, 92, 0, 0, 2, 0, 0, 1, 32, 0, 0.3909173019632475);
insert into predicted_outputs values (1, 0, 0, 0, 10, 2, 179, 26, 30, 265017, 88, 0, 1, 0, 0, 0, 0, 19, 1, 0.546860499008503);
insert into predicted_outputs values (0, 0, 0, 1, 11, 4, 291, 31, 40, 268519, 93, 0, 0, 1, 1, 0, 1, 25, 0, 0.3766479598963329);
insert into predicted_outputs values (1, 0, 0, 0, 11, 5, 225, 26, 28, 268519, 93, 0, 0, 1, 0, 0, 2, 24, 1, 0.5444869942983762);
insert into predicted_outputs values (0, 0, 0, 1, 8, 3, 289, 36, 33, 249797, 93, 0, 0, 2, 1, 0, 1, 30, 1, 0.6659130322200582);
insert into predicted_outputs values (0, 0, 1, 0, 2, 5, 189, 29, 33, 302585, 99, 0, 0, 2, 0, 0, 2, 25, 1, 0.6467437966864135);
insert into predicted_outputs values (0, 0, 0, 1, 1, 6, 179, 22, 40, 313532, 96, 0, 1, 2, 0, 1, 0, 22, 0, 0.23558081724045732);
insert into predicted_outputs values (1, 0, 0, 0, 10, 5, 369, 17, 31, 284853, 91, 0, 0, 3, 1, 0, 0, 25, 1, 0.7942784589313959);
insert into predicted_outputs values (0, 0, 0, 1, 1, 2, 155, 12, 34, 330061, 100, 0, 0, 2, 1, 0, 0, 25, 0, 0.3426664517223088);
insert into predicted_outputs values (1, 0, 0, 0, 6, 2, 291, 31, 40, 253957, 95, 0, 0, 1, 1, 0, 1, 25, 1, 0.7971743295943391);
insert into predicted_outputs values (0, 0, 0, 1, 5, 4, 179, 26, 30, 246074, 99, 0, 1, 0, 0, 0, 0, 19, 0, 0.2611459258481267);
insert into predicted_outputs values (0, 0, 0, 1, 11, 6, 179, 51, 38, 268519, 93, 0, 0, 0, 1, 0, 0, 31, 0, 0.23249422146108897);
insert into predicted_outputs values (1, 0, 0, 0, 6, 6, 235, 11, 37, 377550, 94, 0, 1, 1, 0, 0, 1, 29, 1, 0.6202516730525205);
insert into predicted_outputs values (1, 0, 0, 0, 11, 4, 330, 16, 28, 268519, 93, 0, 1, 0, 0, 0, 0, 25, 1, 0.6329953283485794);
insert into predicted_outputs values (0, 0, 0, 1, 3, 3, 228, 14, 58, 222196, 99, 0, 0, 2, 0, 0, 1, 22, 0, 0.35617569899375595);
insert into predicted_outputs values (0, 0, 0, 1, 4, 3, 118, 13, 50, 246288, 91, 0, 0, 1, 1, 0, 0, 31, 0, 0.2834548102714407);
insert into predicted_outputs values (1, 0, 0, 0, 4, 2, 118, 10, 37, 246288, 91, 0, 0, 0, 0, 0, 0, 28, 1, 0.5590445215016631);
insert into predicted_outputs values (1, 0, 0, 0, 4, 2, 225, 26, 28, 246288, 91, 0, 0, 1, 0, 0, 2, 24, 1, 0.5487914207546948);
insert into predicted_outputs values (0, 0, 0, 1, 2, 5, 155, 12, 34, 302585, 99, 0, 0, 2, 1, 0, 0, 25, 0, 0.32561650701772954);
insert into predicted_outputs values (0, 0, 1, 0, 2, 2, 330, 16, 28, 302585, 99, 0, 1, 0, 0, 0, 0, 25, 1, 0.6094612652247543);
insert into predicted_outputs values (1, 0, 0, 0, 10, 4, 289, 48, 49, 284853, 91, 0, 0, 0, 0, 0, 2, 36, 1, 0.6473475277714431);
insert into predicted_outputs values (1, 0, 0, 0, 4, 5, 118, 13, 50, 246288, 91, 0, 0, 1, 1, 0, 0, 31, 1, 0.6836331133962943);
insert into predicted_outputs values (0, 0, 0, 1, 2, 6, 289, 36, 33, 251818, 96, 0, 0, 2, 1, 0, 1, 30, 1, 0.6289494905004275);
insert into predicted_outputs values (0, 0, 0, 1, 9, 3, 246, 25, 41, 261756, 87, 0, 0, 0, 1, 0, 0, 23, 0, 0.33144386385071994);
insert into predicted_outputs values (0, 0, 0, 1, 6, 5, 225, 26, 28, 377550, 94, 0, 0, 1, 0, 0, 2, 24, 0, 0.2803721196375803);
insert into predicted_outputs values (1, 0, 0, 0, 11, 3, 118, 10, 37, 268519, 93, 0, 0, 0, 0, 0, 0, 28, 1, 0.5659659477475253);
insert into predicted_outputs values (1, 0, 0, 0, 5, 3, 179, 51, 38, 378884, 92, 0, 0, 0, 1, 0, 0, 31, 1, 0.7363522779452607);
insert into predicted_outputs values (0, 0, 0, 1, 5, 6, 361, 52, 28, 378884, 92, 0, 0, 1, 1, 0, 4, 27, 1, 0.5203448118843986);

insert into predicted_outputs values (0, 0, 0, 1, 12, 3, 225, 26, 28, 280549, 98, 0, 0, 1, 0, 0, 2, 24, 0, 0.20995038102486985);
insert into predicted_outputs values (0, 0, 0, 1, 1, 4, 118, 10, 37, 308593, 95, 0, 0, 0, 0, 0, 0, 28, 0, 0.11489086440016727);
insert into predicted_outputs values (0, 0, 0, 1, 9, 3, 155, 12, 34, 261756, 87, 0, 0, 2, 1, 0, 0, 25, 0, 0.4057124640979455);
insert into predicted_outputs values (1, 0, 0, 0, 5, 4, 289, 36, 33, 378884, 92, 0, 0, 2, 1, 0, 1, 30, 1, 0.8265762538765304);
insert into predicted_outputs values (0, 0, 0, 0, 10, 6, 118, 13, 50, 265017, 88, 1, 0, 1, 1, 0, 0, 31, 0, 0.38336498412403913);
insert into predicted_outputs values (1, 0, 0, 0, 7, 5, 189, 29, 33, 239554, 97, 0, 0, 2, 0, 0, 2, 25, 1, 0.5963814963798321);
insert into predicted_outputs values (0, 0, 0, 1, 3, 5, 225, 26, 28, 222196, 99, 0, 0, 1, 0, 0, 2, 24, 0, 0.18551749553337785);
insert into predicted_outputs values (1, 0, 0, 0, 3, 4, 260, 50, 36, 343253, 95, 0, 0, 4, 1, 0, 0, 23, 1, 0.8346273871747524);
insert into predicted_outputs values (0, 0, 0, 1, 1, 2, 179, 26, 30, 313532, 96, 0, 1, 0, 0, 0, 0, 19, 0, 0.09751617513773765);
insert into predicted_outputs values (0, 0, 1, 0, 5, 3, 179, 51, 38, 378884, 92, 0, 0, 0, 1, 0, 0, 31, 1, 0.6147101050108448);
insert into predicted_outputs values (0, 0, 0, 1, 7, 6, 361, 52, 28, 230290, 92, 0, 0, 1, 1, 0, 4, 27, 1, 0.587513723429269);
insert into predicted_outputs values (0, 0, 0, 1, 5, 4, 235, 16, 32, 237656, 99, 0, 1, 0, 0, 0, 0, 25, 0, 0.45532652350641845);
insert into predicted_outputs values (1, 0, 0, 0, 12, 3, 235, 20, 43, 236629, 93, 0, 0, 1, 1, 0, 0, 38, 1, 0.749442157148458);
insert into predicted_outputs values (0, 0, 0, 1, 1, 3, 118, 10, 37, 308593, 95, 0, 0, 0, 0, 0, 0, 28, 0, 0.1262711239822437);
insert into predicted_outputs values (0, 0, 0, 1, 2, 2, 155, 12, 34, 264249, 97, 0, 0, 2, 1, 0, 0, 25, 0, 0.30583753299247973);
insert into predicted_outputs values (1, 0, 0, 0, 2, 3, 388, 15, 50, 302585, 99, 0, 0, 0, 0, 0, 0, 24, 1, 0.647364217766279);
insert into predicted_outputs values (0, 0, 0, 1, 9, 4, 235, 20, 43, 294217, 81, 0, 0, 1, 1, 0, 0, 38, 0, 0.34062942566708815);
insert into predicted_outputs values (0, 0, 0, 1, 4, 4, 330, 16, 28, 239409, 98, 0, 1, 0, 0, 0, 0, 25, 0, 0.4887822414755615);
insert into predicted_outputs values (1, 0, 0, 0, 5, 6, 330, 16, 28, 246074, 99, 0, 1, 0, 0, 0, 0, 25, 1, 0.6256660010996398);
insert into predicted_outputs values (0, 0, 1, 0, 11, 4, 179, 22, 40, 306345, 93, 0, 1, 2, 0, 1, 0, 22, 1, 0.5830539960962609);
insert into predicted_outputs values (1, 0, 0, 0, 11, 6, 291, 31, 40, 284031, 97, 0, 0, 1, 1, 0, 1, 25, 1, 0.7913383286602885);
insert into predicted_outputs values (0, 0, 0, 0, 4, 2, 235, 29, 48, 326452, 96, 1, 0, 1, 0, 1, 5, 33, 0, 0.45729255967199806);
insert into predicted_outputs values (0, 0, 0, 1, 10, 3, 369, 17, 31, 284853, 91, 0, 0, 3, 1, 0, 0, 25, 1, 0.578193230518183);
insert into predicted_outputs values (0, 0, 0, 1, 11, 2, 235, 20, 43, 284031, 97, 0, 0, 1, 1, 0, 0, 38, 0, 0.325600395675291);
insert into predicted_outputs values (1, 0, 0, 0, 7, 2, 330, 16, 28, 275312, 98, 0, 1, 0, 0, 0, 0, 25, 1, 0.6383920701155523);
insert into predicted_outputs values (0, 0, 0, 1, 3, 6, 118, 13, 50, 244387, 98, 0, 0, 1, 1, 0, 0, 31, 0, 0.2079073782579874);
insert into predicted_outputs values (0, 0, 0, 1, 8, 2, 289, 36, 33, 265615, 94, 0, 0, 2, 1, 0, 1, 30, 1, 0.6675558364913804);
insert into predicted_outputs values (0, 0, 0, 1, 10, 4, 291, 31, 40, 284853, 91, 0, 0, 1, 1, 0, 1, 25, 0, 0.3730887626414048);
insert into predicted_outputs values (0, 0, 0, 1, 4, 6, 179, 26, 30, 246288, 91, 0, 1, 0, 0, 0, 0, 19, 0, 0.2402099074611683);
insert into predicted_outputs values (0, 0, 0, 1, 8, 6, 235, 29, 48, 205917, 92, 0, 0, 1, 0, 1, 5, 33, 0, 0.40867651700077956);
insert into predicted_outputs values (0, 0, 1, 0, 12, 3, 118, 10, 37, 261306, 97, 0, 0, 0, 0, 0, 0, 28, 1, 0.5609943416122034);
insert into predicted_outputs values (0, 0, 0, 1, 7, 6, 361, 52, 28, 239554, 97, 0, 0, 1, 1, 0, 4, 27, 1, 0.5830925005047783);
insert into predicted_outputs values (0, 0, 0, 1, 2, 2, 179, 51, 38, 251818, 96, 0, 0, 0, 1, 0, 0, 31, 0, 0.11219676629739675);
insert into predicted_outputs values (0, 0, 0, 1, 9, 4, 225, 26, 28, 261756, 87, 0, 0, 1, 0, 0, 2, 24, 0, 0.26529658664634165);
insert into predicted_outputs values (1, 0, 0, 0, 6, 6, 118, 10, 37, 275089, 96, 0, 0, 0, 0, 0, 0, 28, 1, 0.5539758850351362);
insert into predicted_outputs values (1, 0, 0, 0, 10, 3, 291, 31, 40, 253465, 93, 0, 0, 1, 1, 0, 1, 25, 1, 0.7854369198807105);
insert into predicted_outputs values (0, 0, 0, 1, 2, 4, 179, 26, 30, 264249, 97, 0, 1, 0, 0, 0, 0, 19, 0, 0.0923332077327916);
insert into predicted_outputs values (0, 0, 0, 1, 9, 6, 179, 51, 38, 241476, 92, 0, 0, 0, 1, 0, 0, 31, 0, 0.2930475285110705);
insert into predicted_outputs values (0, 0, 0, 1, 11, 4, 225, 26, 28, 306345, 93, 0, 0, 1, 0, 0, 2, 24, 0, 0.21712024846700018);
insert into predicted_outputs values (0, 0, 0, 0, 9, 3, 291, 50, 32, 294217, 81, 1, 0, 0, 1, 0, 0, 23, 1, 0.5701605708624554);
insert into predicted_outputs values (0, 0, 0, 0, 10, 6, 248, 25, 47, 265017, 88, 1, 0, 2, 0, 0, 1, 32, 0, 0.455201891713985);
insert into predicted_outputs values (0, 0, 0, 1, 11, 2, 291, 31, 40, 284031, 97, 0, 0, 1, 1, 0, 1, 25, 0, 0.37334675669921136);
insert into predicted_outputs values (0, 0, 0, 1, 4, 6, 179, 26, 30, 246288, 91, 0, 1, 0, 0, 0, 0, 19, 0, 0.2402099074611683);
insert into predicted_outputs values (0, 0, 0, 1, 11, 5, 179, 51, 38, 306345, 93, 0, 0, 0, 1, 0, 0, 31, 0, 0.2258989839586672);
insert into predicted_outputs values (0, 0, 0, 0, 3, 4, 369, 17, 31, 244387, 98, 1, 0, 3, 1, 0, 0, 25, 1, 0.6300011996479258);
insert into predicted_outputs values (0, 0, 0, 1, 5, 4, 155, 12, 34, 237656, 99, 0, 0, 2, 1, 0, 0, 25, 0, 0.4192019627241614);
insert into predicted_outputs values (0, 0, 0, 1, 3, 4, 289, 36, 33, 222196, 99, 0, 0, 2, 1, 0, 1, 30, 1, 0.656790548888507);
insert into predicted_outputs values (0, 0, 0, 1, 4, 6, 235, 11, 37, 246288, 91, 0, 1, 1, 0, 0, 1, 29, 0, 0.45782703741695113);
insert into predicted_outputs values (0, 0, 0, 1, 2, 6, 260, 50, 36, 302585, 99, 0, 0, 4, 1, 0, 0, 23, 1, 0.5884410372030745);
insert into predicted_outputs values (1, 0, 0, 0, 2, 3, 179, 51, 38, 264249, 97, 0, 0, 0, 1, 0, 0, 31, 1, 0.7165233059659808);
insert into predicted_outputs values (0, 0, 0, 0, 5, 3, 118, 13, 50, 237656, 99, 1, 0, 1, 1, 0, 0, 31, 0, 0.4540926581613358);
insert into predicted_outputs values (0, 0, 0, 1, 8, 5, 330, 16, 28, 249797, 93, 0, 1, 0, 0, 0, 0, 25, 1, 0.5446964355940463);
insert into predicted_outputs values (0, 0, 0, 1, 10, 6, 291, 31, 40, 284853, 91, 0, 0, 1, 1, 0, 1, 25, 0, 0.37142616090476394);
insert into predicted_outputs values (1, 0, 0, 0, 11, 5, 248, 25, 47, 268519, 93, 0, 0, 2, 0, 0, 1, 32, 1, 0.6096516052328543);
insert into predicted_outputs values (0, 1, 0, 0, 4, 3, 235, 16, 32, 246288, 91, 0, 1, 0, 0, 0, 0, 25, 0, 0.4880075926313292);
insert into predicted_outputs values (1, 0, 0, 0, 7, 3, 330, 16, 28, 275312, 98, 0, 1, 0, 0, 0, 0, 25, 1, 0.6354603325807818);
insert into predicted_outputs values (0, 0, 0, 1, 8, 5, 179, 26, 30, 265615, 94, 0, 1, 0, 0, 0, 0, 19, 0, 0.3027945828415606);
insert into predicted_outputs values (1, 0, 0, 0, 3, 2, 225, 26, 28, 343253, 95, 0, 0, 1, 0, 0, 2, 24, 1, 0.5785401062434907);
insert into predicted_outputs values (0, 0, 0, 1, 10, 4, 179, 51, 38, 265017, 88, 0, 0, 0, 1, 0, 0, 31, 0, 0.23833454809437124);
insert into predicted_outputs values (0, 0, 0, 1, 7, 6, 179, 51, 38, 239554, 97, 0, 0, 0, 1, 0, 0, 31, 0, 0.3354483340485123);
insert into predicted_outputs values (0, 0, 0, 1, 6, 5, 291, 31, 40, 377550, 94, 0, 0, 1, 1, 0, 1, 25, 0, 0.40577149370448506);
insert into predicted_outputs values (0, 0, 0, 0, 6, 2, 235, 29, 48, 275089, 96, 1, 0, 1, 0, 1, 5, 33, 0, 0.4772009366711092);
insert into predicted_outputs values (0, 0, 0, 1, 12, 4, 361, 52, 28, 261306, 97, 0, 0, 1, 1, 0, 4, 27, 1, 0.5295337586623485);
insert into predicted_outputs values (0, 0, 0, 1, 1, 3, 225, 26, 28, 308593, 95, 0, 0, 1, 0, 0, 2, 24, 0, 0.1068415649354287);
insert into predicted_outputs values (0, 0, 0, 1, 12, 5, 235, 11, 37, 236629, 93, 0, 1, 1, 0, 0, 1, 29, 0, 0.45750035381556436);
insert into predicted_outputs values (0, 0, 0, 1, 4, 2, 179, 51, 38, 239409, 98, 0, 0, 0, 1, 0, 0, 31, 0, 0.2981923860429064);
insert into predicted_outputs values (0, 0, 0, 1, 7, 3, 289, 36, 33, 239554, 97, 0, 0, 2, 1, 0, 1, 30, 1, 0.6692376398725555);
insert into predicted_outputs values (0, 0, 1, 0, 6, 5, 118, 13, 50, 275089, 96, 0, 0, 1, 1, 0, 0, 31, 1, 0.5928618618045152);

In [72]:
conn.close()